.clients-section {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;

  @include desktop {
    @include hsecond-title();
  }
}

/* ---ICONS--- */

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: var(--typical-margin);
  justify-content: center;
}

.clients__item {
  @include mobile {
    width: calc((100% - 30px) / 2);
  }
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--soc-icon-color);
  fill: var(--soc-icon-color);

  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function), filter 250ms var(--timing-function);
  &:hover,
  &:focus {
    border: 1px solid var(--highlight-color);
    fill: var(--highlight-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.client__icon {
  color: currentColor;
}
