.details {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
.description {
  display: flex;
  flex-wrap: wrap;
  gap: var(--typical-margin);
}

.description__li {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.details-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--description-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.details-box__title {
  text-align: center;
  @include tablet {
    text-align: left;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.details-box__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
