/* main / hero */

.main {
  background: var(--footer-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroMob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @media screen and (max-width: 479px) {
    max-width: 320px;
    padding: 118px 0;
  }
  @include mobile {
    max-width: 480px;
    padding: 118px 0;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroMob1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroMob2x.jpg);
    }
  }
  @include tablet {
    max-width: 768px;
    padding: 118px 0;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroTab1x.jpg);
     @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroTab2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroDesk1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/HeroDesk2x.jpg);
  }
}

.main__box {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  margin: 0 auto;
  margin-bottom: 30px;
  // @media screen and (min-width: 320px) {
  //   max-width: 240px;
  //   font-size: 17px;
  //   line-height: 1.62;
  // }
  @include mobile {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
