/* Переменные: цвета и прочее */
:root {
  --main-color: #212121;
  --header-bottom: #ececec;
  --highlight-color: #2196f3;
  --highlight-btn: #188ce8;
  --mark-color: #ffa500;
  --header-link-color: #757575;
  --main-tittle-color: #ffffff;
  --main-background-color: #2f303a;
  --description-text-color: #757575;
  --description-background-color: #f5f4fa;
  --team__position-color: #757575;
  --soc-icon-color: #afb1b8;
  --footer-background-color: #2f303a;
  --footer-contact-color: #ffffff;
  --portfolio-speciality-color: #757575;
  --typical-margin: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// $portfolio-speciality-color: #757575;
