/* прячем заголовок от пользователя, Google  видит заголовок */

h2[class="visually-hidden"],
h1[class="visually-hidden"] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
